{% extends '/main/layout.html' %}
{% block body %}

<!-- EMPTY CART -->
<section class="body-font">
    <div class="w-2/5 px-5 py-20 mx-auto text-center">

        <img class="w-10 mx-auto mb-5" src="{{ url_for('static', filename='assets/images/icons/cart.svg') }}" alt="shopping cart">
        <h1 class="text-4xl mb-4">Your cart is currently empty</h1>
        <p class="w-4/5 mx-auto mb-5">Your product added in cart will appear here. Purchase some product</p>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="mx-auto {{category}} rounded-lg py-3 my-2 px-6 text-xl text-gray-800 mb-3"
            role="alert">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <a href="{{url_for('main.index')}}" class="inline-block text-white bg-black px-6 py-3 text-xs hover:bg-black/80 transition-all">RETURN TO SHOP</a>
    </div>
</section>

{% endblock %}