{% extends 'main/layout.html' %}
{% block content %}

<!-- MAIN SECTION  -->
<main class="py-7">
    <!-- LOGIN HEADING -->
    <div class="heading-box bg-gray-100 py-8 px-4 lg:py-12">
        <h1 class="text-2xl md:w-[720px] md:m-auto lg:w-[90%] xl:w-[1200px]">LOGIN</h1>
    </div>

    <div class="content-wrapper lg:flex lg:w-[90%] lg:m-auto xl:w-[1200px] xl:py-16">
        <!-- LOGIN FORM -->
        <div class="about-info px-4 md:px-0 md:w-[720px] lg:w-[45%] overflow-hidden rounded-lg mx-auto mt-14 shadow-sm">
            <div class="bg-gray-100 py-6 px-5">
                <div class="flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
                    <div class="w-full max-w-md space-y-6">
                        <h2 class="text-2xl font-semibold">Login</h2>

                        {% with messages = get_flashed_messages(with_categories=True) %}
                        {% if messages %}
                        {% for category, message in messages %}
                        <div>
                            <p class="{{category}} font-semibold">{{message}}</p>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <form class="mt-8 space-y-6" action="{{url_for('users.login')}}" method="POST">
                            <input type="hidden" name="remember" value="true">
                            <div class="-space-y-px shadow-sm">
                                <div class="mb-6">
                                    {{form.email.label(class="sr-only")}}
                                    {{form.email(class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 p-4 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-base", placeholder="Email Address")}}
                                </div>
                                <div class="mb-6">
                                    {{form.password.label(class="sr-only")}}
                                    {{form.password(class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 p-4 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-base", placeholder="Password")}}
                                </div>
                            </div>

                            <div class="flex items-center justify-between">
                                <div class="flex items-center">
                                    <input id="remember" name="remember" type="checkbox"
                                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                    <label for="remember" class="ml-2 block text-sm text-gray-900">Remember
                                        me</label>
                                </div>

                                <div class="text-sm">
                                    <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">Forgot your
                                        password?</a>
                                </div>
                            </div>

                            <div>
                                {{form.hidden_tag()}}
                                {{form.submit(class="group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-3 uppercase px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2")}}
                            </div>
                        </form>
                        <div class="text-sm">
                            <strong>Dont Have an Account? &nbsp;</strong>
                            <a href="{{url_for('users.signup')}}" class="font-medium text-indigo-600 hover:text-indigo-500">Sign Up</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
<!--/ MAIN SECTION  -->

{% endblock %}