__pycache__

node_modules
sopenv

fullconf
sopapp/static/assets/images/category/
sopapp/static/assets/images/products/
sopapp/static/assets/images/blogs/
sopapp/static/robots.txt
sopapp/static/sitemap.xml

instance
migrations

*.db