{% extends 'main/layout.html' %}
{% block body %}

    <!-- MAIN SECTION  -->
    <main class="py-7">
        <!-- ABOUT HEADING -->
        <div class="heading-box bg-gray-100 py-8 px-4 lg:py-12">
            <h1 class="text-2xl md:w-[720px] md:m-auto lg:w-[90%] xl:w-[1200px]">ABOUT US</h1>
        </div>

        <div class="content-wrapper lg:flex lg:w-[90%] lg:m-auto xl:w-[1200px] xl:py-16">
            <!-- ABOUT SECTION -->
            <div class="content-box md:w-[720px] md:mx-auto lg:w-[55%]">
                <img class="w-full px-4 md:px-0 py-10 my-6 lg:py-0 lg:my-0 lg:mt-16" src="{{url_for('static', filename='assets/images/about.jpg')}}" alt="">
            </div>

            <!-- ABOUT INFO -->
            <div class="about-info px-4 md:px-0 md:w-[720px] md:m-auto lg:w-[45%] lg:ml-5 lg:my-0 overflow-hidden">
                <div class="bg-gray-100 py-6 px-5 h-full lg:mt-16">
                    <h1 class="text-xl mb-12 sm:text-2xl"><span
                        class="underline underline-offset-8">ABO</span>UT OUR BUSINESS</h1>
                    <div class="para text-justify sm:text-left">
                        <p>We at SOPLaptops provide best laptops in Pune with free delivery all over Pune. No Delivery Charges are applied<br></p>
                        <br>
                        <p>A laptop, laptop computer, or notebook computer is a small, portable personal computer (PC) with a screen and alphanumeric keyboard. Laptops typically have a clam shell form factor with the screen mounted on the inside of the upper lid and the keyboard on the inside of the lower lid, although 2-in-1 PCs with a detachable keyboard are often marketed as laptops or as having a "laptop mode". Laptops are folded shut for transportation, and thus are suitable for mobile use. They are so named because they can be practically placed on a person's lap when being used</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--/ MAIN SECTION  -->

{% endblock %}