{% extends 'main/layout.html' %}

{% block head %}
    <meta name="description" content="{{head.desc}}">
    <title>{{head.title}}</title>
    <link rel="canonical" href="{{head.canonical}}">
{% endblock %}

{% block content %}
<!-- MAIN SECTION  -->
<main class="py-7">
    <!-- CONTACT -->

    <!-- CONTACT HEADING -->
    <div class="heading-box bg-gray-100 py-8 px-4 lg:py-12">
        <h1 class="text-2xl md:w-[720px] md:m-auto lg:w-[90%] xl:w-[1200px]">CONTACT US</h1>
    </div>

    <div class="content-wrapper lg:flex lg:w-[90%] lg:m-auto xl:w-[1200px]">
        <!-- CONTACT FORM -->
        <div class="content-box md:w-[720px] md:m-auto lg:w-[55%]">
            <form action="{{url_for('main.contact')}}" method="post" class="w-full px-4 md:px-0 py-10 my-6">
                {{form.hidden_tag()}}
                {{form.name.label()}}
                {{form.name(class="w-full border border-gray-300 px-4 py-3 mb-4 sm:text-left outline-none")}}
                
                {{form.email.label()}}
                {{form.email(class="w-full border border-gray-300 px-4 py-3 mb-4 sm:text-left outline-none")}}
                
                {{form.location.label()}}
                {{form.location(class="w-full border border-gray-300 px-4 py-3 mb-4 sm:text-left outline-none")}}
                
                {{form.subject.label()}}
                {{form.subject(class="w-full border border-gray-300 px-4 py-3 mb-4 sm:text-left outline-none")}}
                
                {{form.message.label()}}
                {{form.message(class="w-full border border-gray-300 px-4 py-3 mb-3 sm:text-left outline-none",cols="30", rows="7")}}
                
                {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                {% for category, msg in messages %}
                <p class="{{category}} text-lg mb-2">{{msg}}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}

                {{form.submit(class="bg-black text-white w-full py-4 text-xs transition-all hover:bg-gray-800 xl:py-5 uppercase")}}
            </form>
        </div>


        <!-- CONTACT INFO -->
        <div class="contact-info px-4 md:px-0 md:w-[720px] md:m-auto  lg:w-[45%] lg:ml-5 lg:my-0">
            <ul class="bg-gray-100 py-6 px-5 list-outside lg:mt-16">
                <li class="flex py-3"><img class="w-5 mr-3" src="/assets/images/icons/delivery.svg" alt="">Free Home
                    delivery all over pune</li>
                <li class="flex py-3"><img class="w-5 mr-3" src="/assets/images/icons/call.svg" alt="">+91
                    9022365428
                </li>
                <li class="flex py-3"><img class="w-5 mr-3" src="/assets/images/icons/email.svg" alt=""><a
                        class="hover:text-slate-600" href="mailto:soplaptops@gmail.com">soplaptops@gmail.com</a></li>
            </ul>
        </div>
    </div>

</main>
<!--/ MAIN SECTION  -->

{% endblock %}