{% extends 'main/layout.html' %}
{% block body %}

<!-- MAIN SECTION  -->
<main class="py-7">
    <!-- BRAND HEADING -->
    <div class="heading-box bg-gray-100 py-8 px-4 lg:py-12">
        <h1 class="text-2xl md:w-[720px] md:m-auto lg:w-[90%] xl:w-[1200px]">{{category.upper()}}</h1>
    </div>

    <!-- BRAND PRODUCTS -->
    <div class="px-4 py-8">
        <!-- PRODUCTS -->
        <div
            class="categories pb-14 space-y-8 sm:w-4/6 sm:m-auto md:grid md:grid-cols-2 md:gap-8 md:w-11/12 xl:grid-cols-3 xl:gap-6 xl:w-[1200px]">
            {% if products %}
            {% for p in products %}
            <div class="product-info md:mt-8">
                <figure class="relative">
                    <div class="relative">
                        <a href="{{url_for('singleProductPage', category=category.lower(), slug=products[p]['name']|replace(' ', '-')|lower())}}"
                            class="bg-black after:transition-all after:block after:absolute after:inset-0 hover:after:bg-black/30 after:w-full">
                            <img class="w-full object-cover"
                                src="{{ url_for('static', filename='assets/images/products/')}}{{category.lower()}}/{{products[p]['image'].image_name}}"
                                alt="{{products[p]['image']}}">
                        </a>
                    </div>
                    <figcaption class="text-center py-3">
                        <h2 class="font-semibold mb-1">{{products[p]['name']|upper()}}</h2>
                        <p>Rs. {{products[p]['price']}}</p>
                    </figcaption>
                </figure>
            </div>
            {% endfor %}
            {% else %}
            <h1 class="text-3xl font-semibold">Products Not Found</h1>
            {% endif %}
        </div>
    </div>
</main>
<!--/ MAIN SECTION  -->

{% endblock %}