{% extends '/admin/layout.html' %}
{% block body %}

<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4 d-flex justify-content-between align-items-center">Categories <button type="button"
            class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCenter" onclick="formReset()">
            Add Category
        </button></h4>

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert {{category}} alert-dismissible" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="modal fade" id="modalCenter" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCenterTitle">{{vars.title}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{{vars.action}}" method="POST" enctype="multipart/form-data" id="modalForm">
                    <div class="modal-body">
                        {{form.hidden_tag()}}
                        <div class="mb-3">
                            {{form.category.label(class="form-label")}}
                            {{form.category(class="form-control")}}
                        </div>
                        <div class="mb-3">
                            {{form.tagline.label(class="form-label")}}
                            {{form.tagline(class="form-control")}}
                        </div>
                        <div class="mb-3">
                            {{form.image.label(class="form-label")}}
                            {{form.image(class="form-control")}}
                        </div>
                        <div class="mb-3">
                            {{form.image_file.label(class="form-label")}}
                            {{form.image_file(class="form-control")}}
                        </div>
                        <a href="#" id="uploadedImage" target="_blank">View Uploaded image</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                        {{form.submit(class="btn btn-primary")}}
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- All Categories -->
    <div class="card">
        <h5 class="card-header"> All Categories </h5>

        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if categories %}
                        {% for category in categories %}
                        <tr class="categoryTable">
                            <!-- Added class to get the id of the category -->
                            <td>
                                <i class="fab fa-angular fa-lg text-danger me-3"></i>
                                <strong>{{category.id}}</strong>
                            </td>
                            <td>{{category.category.capitalize()}}</td>
                            <td>{{category.tagline.capitalize()}}</td>
                            <td><a target="_blank"
                                    href="{{ url_for('static', filename='assets/images/category/' + category.category_img) }}">View</a>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                        data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu actcat">
                                        <button class="dropdown-item editbtn" type="submit" data-bs-toggle="modal"
                                            data-bs-target="#modalCenter">
                                            <i class="bx bx-edit-alt me-1"></i> Edit
                                        </button>
                                        <form action="{{url_for('deleteCategories')}}" method="POST">
                                            <input type="hidden" name="cid" value="{{category.id}}">
                                            <button class="dropdown-item" type="submit">
                                                <i class="bx bx-trash me-1"></i> Delete
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--/ All Categories -->

    <hr class="my-5">

    <script>
        // Get button and table of category
        btn = document.getElementsByClassName('editbtn')
        table = document.getElementsByClassName('categoryTable')
        // Get Modal and Modal Form Variable
        modalTitle = document.getElementById('modalCenterTitle')
        mCid = document.getElementById('cid')
        mAction = document.getElementById('modalForm')
        mCategory = document.getElementById('category')
        mTagline = document.getElementById('tagline')
        mImage = document.getElementById('image')
        mImageFile = document.getElementById('image_file')
        mUploadedImage = document.getElementById('uploadedImage')

        // -------- Display Edit form with values -------
        for (let i = 0; i < btn.length; i++) {
            btn[i].addEventListener('click', () => {
                // Fetched from the table of category
                cid = table[i].children[0].innerText
                title = "Edit Category"
                action = "{{url_for('editCategories')}}"
                category = table[i].children[1].innerText
                tagline = table[i].children[2].innerText
                // Get image name from url of image
                image = table[i].children[3].children[0].href
                index = image.lastIndexOf("/") + 1;
                imageName = image.substr(index);
                imageName = imageName.replace(/\.[^/.]+$/, "")

                // Set Modal-form values to display edit form
                modalTitle.innerText = title
                mCid.value = cid
                mAction.action = action
                mCategory.value = category
                mTagline.value = tagline
                mImage.value = imageName
                mUploadedImage.classList.remove('d-none')
                mUploadedImage.href = image

            })
        }

        // -------- Reset Modal-from variable -------
        function formReset() {
            // Get Modal and Modal Form Variables and reset them
            modalTitle = "Add New Category"
            mCid.value = ""
            mAction.action = "{{url_for('addCategories')}}"
            mCategory.value = ""
            mTagline.value = ""
            mImage.value = ""
            mUploadedImage.href = "#"
            mUploadedImage.classList.add('d-none')
            mImageFile.setAttribute("required", true)
        }
    </script>
</div>

<!-- / Content -->

{% endblock %}