{% extends '/admin/layout.html' %} {% block body %}

<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><small>{{title}}</small></h4>

    <div class="row">
        <div class="col-xl">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">{{category.capitalize()}} - Product Information</h5>
                    <small class="text-muted float-end">Add New Product</small>
                </div>
                <div class="card-body">
                    <form action="{{action}}" method="POST" enctype="multipart/form-data">
                        {% if msg %}
                        <div class="mb-3">
                            <div class="alert alert-danger" role="alert">{{msg}}</div>
                        </div>
                        {% endif %}
                        <div class="mb-3">
                            <label class="form-label" for="product_name">Product Name</label>
                            <small class="bold">- [ Don't use '-' in Name ]</small>
                            <input type="text" class="form-control" id="product_name" name="product_name"
                                placeholder="Enter Product Name" value="{{product.product_name}}" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="product_desc">Product Description</label>
                            <ul>
                                <li class="bold">[] - For title</li>
                                <li class="bold">{} - For text content</li>
                                <li class="bold">Spaces and line Breaks should be formatted before Adding</li>
                            </ul>
                            <textarea id="product_desc" name="product_desc" rows="5" class="form-control"
                                placeholder="Enter Product Description">{{product.product_desc}}</textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="sku">SKU</label>
                            <input type="number" class="form-control" id="sku" name="sku" placeholder="Available Stock"
                                value="{{product.sku}}" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="price">Price</label>
                            <input type="number" class="form-control" id="price" name="price"
                                placeholder="Product Price" value="{{product.price}}" />
                        </div>
                        <div class="mb-3">
                            <label for="productImg" class="form-label">Upload Product Images</label>
                            {% if images %}
                            <!-- View Uploaded Images -->
                            <small data-bs-toggle="modal" data-bs-target="#imageViewModal"
                                class="fw-bold cursor-pointer">
                                : [ View Uploaded Images ]</small>
                            {% endif %}
                            <input class="form-control" type="file" id="productImg" name="productImg" multiple />
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="product_details">Product Details</label>
                            <ul>
                                <li class="bold">[] - For title</li>
                                <li class="bold">{} - For text content</li>
                                <li class="bold">Spaces and line Breaks should be formatted before Adding</li>
                            </ul>
                            <textarea id="product_details" name="product_details" rows="10" class="form-control"
                                placeholder="Product Details">{{product.details}}</textarea>
                        </div>
                        <input type="hidden" name="action" value="{{submit_value}}" />
                        <input type="hidden" name="fId" value="{{product.id}}" />
                        <button type="submit" class="btn btn-primary">{{button}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Uploaded Images Modal -->
    <div class="modal fade" id="imageViewModal" tabindex="-1" style="display: none" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel3">Uploaded Images</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-0 justify-content-center">
                        {% for image in images %}
                        <div class="col-md-4 m-2">
                            <img class="card-img card-img-left"
                                src="{{ url_for('static', filename='images/products/')}}{{category.lower()}}/{{image.image_name}}"
                                alt="Card image" />
                            <div class="p-2 alert alert-secondary">
                                <form action="/admin/apple/remove" method="post" class="text-center">
                                    <input type="hidden" name="imageId" value="{{image.id}}" />
                                    <button type="submit" class="btn btn-primary">Remove</button>
                                </form>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / Content -->

{% endblock %}