{% if authAdminRole(current_user.id, 'content editor') %}
{% extends '/admin/layout.html' %}
{% block body %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><small>{{vars['title']}}</small></h4>

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert {{category}} alert-dismissible" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div>
        <form class="col-xl" action="{{vars['action']}}" method="POST" enctype="multipart/form-data">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Product Information</h5>
                    <small class="text-muted float-end">{{vars['title']}}</small>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        {{form.product_name.label(class="form-label")}}
                        {{form.product_name(class="form-control", placeholder="Enter Name",
                        value=vars['product_name'])}}
                    </div>
                    <div class="mb-3">
                        {{form.desc.label(class="form-label")}}
                        {{form.desc(class="form-control", placeholder="Enter Description", rows=10)}}

                    </div>
                    <div class="mb-3">
                        {{form.category.label(class="form-label")}}
                        {{form.category(class="form-control text-capitalize")}}
                    </div>
                    <div class="mb-3">
                        {{form.price.label(class="form-label")}}
                        {{form.price(class="form-control", placeholder="Product Price", value=vars['price'])}}
                    </div>
                    <div class="mb-3">
                        {{form.stock.label(class="form-label")}}
                        {{form.stock(class="form-control", placeholder="Available Stock", value=vars['stock'])}}
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">{{form.details.label()}}</h5>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        {{form.details(class="form-control", placeholder="Product Details")}}
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">{{form.image_file.label()}}  <span class="text-muted"> - 400x350 Image Size</span></h5>
                    {% if vars['images'] %}
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exLargeModal">
                        Uploaded Images
                    </button>
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        {{form.image_file(class="form-control")}}
                    </div>
                    {{form.hidden_tag()}}
                </div>

            </div>
            <div>
                {{form.submit(class="btn btn-primary", value=vars['button'])}}
            </div>
        </form>
        {{ckeditor.load()}}
        {{ckeditor.config(name='details')}}
    </div>

    <!-- Images Modal -->
    <div class="modal fade" id="exLargeModal" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel4">Update Product Images</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Uploaded Images -->
                    {% if vars['images'] %}
                    <div class="card-body images-div">
                        {% for i in vars['images'] %}
                        <div>
                            <img src="{{url_for('static', filename='assets/images/products/')}}{{getCategoryById(vars['category'])}}/{{i.image_name}}"
                                class="w-100">
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / Content -->

<script>
    // --------- Add and Editform of Product Section - Selecting Category Select Field ---------
    category = document.getElementById('category')

    if ("{{vars['category']}}") {
        for (let i = 0; i < category.length; i++) {
            if (category[i].value == "{{vars['category']}}") {
                category[i].setAttribute('selected', true)
            }
        }
    }
    else {
        console.log("This is else field")
        element = document.createElement("option")
        node = document.createTextNode("-- select --")
        element.appendChild(node)
        category.insertBefore(element, category.children[0])
        category[0].setAttribute('selected', true)
    }
</script>
{% endblock %}
{% else %}
{% extends '404.html' %}
{% block content %}
<p>Page Not Found</p>
{% endblock %}
{% endif %}