{% extends 'layout.html' %}
{% block body %}

    <!-- MAIN SECTION  -->
    <main class="pb-10">

        <!-- HEADING -->
        <div class="heading-box bg-gray-100 py-8 px-4 lg:py-12">
            <h1 class="text-2xl md:m-auto lg:w-[90%] xl:w-[1200px]">CART</h1>
        </div>

        <!-- CART ITEMS -->
        <div class="cart-table px-4 pt-16 pb-5 lg:mb-6">

            <!-- MOBILE CART LAYOUT -->
            <div class="mobile-cart text-sm sm:hidden">
                <div class="cart-items relative bg-gray-100 mb-5">
                    <ul class="border border-gray-200">
                        <li class="flex">
                            <span class="font-semibold mr-2 w-[35%] bg-black text-white px-2 py-2">Item Code</span>
                            <span class="w-[65%] py-2">SOP123</span>
                        </li>
                        <li class="flex">
                            <span class="font-semibold mr-2 w-[35%] bg-black text-white px-2 py-2">Item Name</span>
                            <span class="w-[65%] py-2">HP Laptop for video editing </span>
                        </li>
                        <li class="flex">
                            <span class="font-semibold mr-2 w-[35%] bg-black text-white px-2 py-2">Quantity</span>
                            <span class="w-[55%] py-2">1</span>
                            <div class="delete-item w-[10%] text-right p-1 py-2">
                                <img class="block w-5 object-cover" src="{{ url_for('static', filename='assets/images/icons/trash.svg')}}" alt="Trash icon">
                            </div>
                        </li>
                    </ul>
                </div>
                
            </div>

            <!-- CART LAYOUT -->
            <table class="cart-items hidden mx-auto text-base sm:block sm:w-[620px] xl:w-[820px] xl:mt-20 xl:mb-6">
                <thead class="bg-black text-white">
                    <tr>
                        <th class="w-[100px] border border-gray-900 py-3 font-semibold">Id</th>
                        <th class="w-[300px] border border-gray-900 py-3 font-semibold">Item Name</th>
                        <th class="w-[170px] border border-gray-900 py-3 font-semibold">Price</th>
                        <th class="w-[100px] border border-gray-900 py-3 font-semibold">Qty.</th>
                        <th class="w-[150px] border border-gray-900 py-3 font-semibold">Action</th>
                    </tr>
                </thead>

                <tbody class="text-center">
                    <tr>
                        <td class="border border-gray-200/50 py-4 xl:py-5">1</td>
                        <td class="border border-gray-200/50 py-4 xl:py-5">DELL Laptop good </td>
                        <td class="border border-gray-200/50 py-4 xl:py-5">Rs. 15,000</td>
                        <td class="border border-gray-200/50 py-4 xl:py-5">2</td>
                        <td class="border border-gray-200/50 py-4 xl:py-5">
                            <img class="block w-5 object-cover m-auto" src="{{ url_for('static', filename='assets/images/icons/trash.svg')}}" alt="Trash icon">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- CHECKOUT BUTTON -->
        <div class="checkout px-4 text-right sm:w-[620px] sm:m-auto xl:w-[820px] sm:pr-0">
            <button class="px-5 py-4 bg-black w-full text-white text-sm transition-all hover:bg-gray-800 sm:w-[30%]" type="submit">CHECKOUT</button>
        </div>
    </main>
    <!--/ MAIN SECTION  -->

{% endblock %}