{% extends 'layout.html' %}
{% block body %}

<section class="empty-cart page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="block text-center">
        	<i class="tf-ion-ios-cart-outline"></i>
          	<h2 class="text-center">Your cart is currently empty.</h2>
          	<p>Add to Cart some items to fill this space and order you favourites.</p>
          	<a href="/" class="btn btn-main mt-20">Return to shop</a>
      </div>
    </div>
  </div>
</section>

{% endblock %}